        ---
        import BaseHead from '../components/BaseHead.astro';
        import Header from '../components/Header.astro';
        import Footer from '../components/Footer.astro';
        import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
        ---

        <!doctype html>
        <html lang="en">
	        <head>
		        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	        </head>
	        <body>
		        <Header />

    <main>
      <section>
        <h1>Mikel Zalacain Gonzalez</h1>
        <p>
          Soy un estudiante al que le apasiona la informática, sobre todo la programación. Mi objetivo principal es desarrollarme profesionalmente y evolucionar en el sector. Me gusta trabajar en equipo y aprender de los demás.
        </p>
      </section>

      <section>
        <h2>🎓 Formación</h2>
        <ul>
          <li><strong>2019 – 2021</strong>: Bachillerato científico técnico tipo D en La Salle Donostia Ikastetxea</li>
          <li><strong>2022 – 2024</strong>: Desarrollo de Aplicaciones Multiplataforma (DAM) Centro S.E.I.M.</li>
          <li><strong>2024 – Actualidad</strong>: Administración de Sistemas Informáticos en Redes (ASIR) Centro S.E.I.M</li>
        </ul>
      </section>

      <section>
        <h2>🛠️ Conocimientos técnicos</h2>
        <ul>
          <li>Acceso a datos en C#</li>
          <li>Desarrollo de interfaces con Visual Basic</li>
          <li>C, C++</li>
          <li>Python</li>
          <li>Android Studio (Java)</li>
          <li>Transact SQL</li>
          <li>Inspire Designer/li>
          <li>Programación web: HTML, CSS, JavaScript</li>
        </ul>
      </section>

      <section>
        <h2>🌍 Idiomas</h2>
        <ul>
          <li>Euskara: Nativo</li>
          <li>Castellano: Nativo</li>
          <li>Inglés: Nivel Medio</li>
        </ul>
      </section>


      <section>
        <h2>📍 Datos personales</h2>
        <ul>
          <li>Nacimiento: 26/10/2003</li>
          <li>Email: <a href="mailto:contaco@mikelzalacain.com">contacto@mikelzalacain.com</a></li>
        </ul>
      </section>

      <section>
        <h2>💼 Experiencia</h2>
        <ul>
          <li><strong>09/2023 – Actualidad</strong>: Programador en Gureak Datapost</li>
        </ul>
      </section>
    </main>

		        <Footer />
	        </body>
        </html>
